# Dependencies
node_modules/

# Build output
dist/
dist-ssr/

# Vite
*.local
.vite/

# Environment variables
.env
.env.local
.env.*.local

# Editor / OS
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.idea/
.vscode/
